<configuration>

    <!-- Suppress all logs from MongoDB driver -->
    <logger name="org.mongodb.driver" level="OFF"/>

    <!-- Suppress all logs entirely, if you don't want any other logs -->
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Console appender configuration (optional, as root is OFF) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.layout.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

</configuration>
