*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
.navbar {
  background: linear-gradient(to right, #8860d0, #5680e9, #84ceeb); /* Gradient între două culori */
  color: #fffdef; /* Text alb-crem */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.navbar a {
  color:#fffdef;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  transition: color 1s ease;
}

.navbar a:hover {
  background-color:  #9ddaf9;
  color: #5680e9;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: auto;
}

.profile-text {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  transition: color 1s ease;
}

.profile-text:hover {
  background-color: #9ddaf9;
  color: #5680e9;
}

/* Dropdown Menu */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: #84ceeb;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 10; /* Pt a fi deasupra altor elemente */
  border-radius: 3px;
}

.profile-container:hover .dropdown {
  display: block; /* Afișează dropdown-ul când treci cu mouse-ul pe Profil */
}

.dropdown-content a {
  color: #fffdef;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 3px solid white;
  transition: background-color 1s ease;
}

.dropdown-content a:last-child {
  border-bottom: none; /* Îndepărtează border-ul de la ultimul link */
}

.dropdown-content a:hover {
  color:#5680e9;
  background-color: #fffdef;
}