.learning-plan-container {
  padding: 40px;
  background-image: url('/images/ai5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
  font-family: "Monoton", sans-serif;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 0 15px #fff, 0 0 15px #d06bd0, 0 0 18px #c35bc3;
  animation: glowFade 6s ease-in-out infinite;
}

.dropdowns {
  margin-bottom: 20px;
}

select {
  background: linear-gradient(35deg, #11bfd2,#2441cd, #6d0ec6 );
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 8px;
  color:white;
}

.textbox-intrebare,
.textbox-raspuns {
  width: 100%;
  min-height: 120px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}

.textbox-raspuns {
  background-color: #f3e5f5;
  min-height: 360px;
}

.btn-trimite {
  background: linear-gradient(#3f1b9a,#9e62c4 );
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.loading-msg {
  color: #fff;
  font-style: italic;
}

option {
  color: #9e62c4;
  background-color: #ffffff;
}
